node_modules/
doc/
dist/
lib/
build/
_gh_pages/
cache/
upload/
.ipynb_checkpoints
Untitled.ipynb
.DS_Store
yarn-error.log.DS_Store
/.idea
TerminalTest.ipynb
vlcclone-key.jks
vlcclone-keystore-base64.txt
/__pycache__
__pycache__/
.hugo_build.lock
